@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}

@utility neobrutalist-shadow {
  box-shadow: -10px 10px 0px 0px #000; /* Shadow to the left */
  border: 4px solid #000; /* Increased border size */
  border-radius: 1.5rem; /* rounded-3xl equivalent */
}