@import 'tailwindcss';

@plugin 'tailwindcss-animate';
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
@config '../../tailwind.config.mjs';

@theme {
	--font-sans:
		var(--font-inter), ui-sans-serif, system-ui, -apple-system,
		BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
		'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol', 'Noto Color Emoji';

	--font-redhat: 'Red Hat Display', var(--font-sans);

	--color-brand-amber: #fbbf24;
	--color-brand-dark-blue: #1e293b;
	--color-brand-blue: #0891b2;
	--color-brand-telemagenta: #db2777;
	--color-background-secondary: #cccccc;
}

@layer utilities {
	@media (min-width: 360px) {
		.sm-text-stroke-shadow {
			text-shadow:
				-5px 5px 0px #fff,
				-4.5px 5.5px 0px #000,
				-5.5px 5.5px 0px #000,
				-5.5px 4.7px 0px #000,
				-10px 10px 0px #fff,
				-9.5px 10.5px 0px #000,
				-10.5px 10.8px 0px #000,
				-10.5px 9.5px 0px #000,
				-15px 15px 0px #fff,
				-14.5px 15.5px 0px #000,
				-15.5px 14.5px 0px #000,
				-15.5px 14px 0px #000;
		}
	}

	@media (min-width: 768px) {
		.md-text-stroke-shadow {
			text-shadow:
				-15px 15px 0px #fff,
				-16px 14px 0px #000,
				-15px 16px 0px #000,
				-14px 14px 0px #000,
				-30px 30px 0px #fff,
				-29px 31px 0px #000,
				-31px 31px 0px #000,
				-30px 29.5px 0px #000,
				-45px 45px 0px #fff,
				-46px 45.5px 0px #000,
				-44px 45px 0px #000,
				-46px 44px 0px #000;
		}
	}

	.text-stroke {
		-webkit-text-stroke: 1px #444444;
		-webkit-text-fill-color: #ffffff;
		-webkit-font-smoothing: antialiased;
	}
}

@utility neobrutalist-shadow {
	box-shadow: -10px 10px 0px 0px #000; /* Shadow to the left */
	border: 4px solid #000; /* Increased border size */
	border-radius: 1.5rem; /* rounded-3xl equivalent */
}

@utility neobrutalist-shadow-left {
	box-shadow: -15px 15px 0px 0px #000; /* Shadow to the left */
	border: 7px solid #000; /* Increased border size */
	border-radius: 1.5rem; /* rounded-3xl equivalent */
	background-color: white;
}

@utility neobrutalist-shadow-right {
	box-shadow: 20px 20px 0px 0px #000; /* Shadow to the right */
	border: 4px solid #000; /* Increased border size */
	border-radius: 1.5rem; /* rounded-3xl equivalent */
}

@utility neobrutalist-shadow-no-radius {
	box-shadow: 20px 20px 0px 0px #000; /* Shadow to the right */
	border: 4px solid #000; /* Increased border size */
}

@utility highlight {
	position: relative;
	&::after {
		content: '';
		background-color: #fbbf24;
		height: 20px;
		display: block;
		position: absolute;
		width: 105%;
		left: -2.5%;
		bottom: -2.5%;
		z-index: -1;
	}

	@media (min-width: 640px) {
		&::after {
			height: 25px;
			width: 110%;
			left: -5%;
			bottom: -5%;
		}
	}

	@media (min-width: 1024px) {
		&::after {
			height: 30px;
			width: 110%;
			left: -5%;
			bottom: -5%;
		}
	}
}
